.button {
  /* Le style du bouton */

  color: white;
  border-radius: 15px;
  width: 155px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  font-size: 14px;
  line-height: 14px;
  padding: 24px 16px;
  
//*Pokeball decoration *//

    

  &.green {
   
    background-image: url("../../../assets/pokeballdeco.png"), 
    linear-gradient(8.46deg, #46a487 -0.58%, #46d7ab 108.38%);
    background-repeat: no-repeat;
    background-position: 119%;

    
  
    
    
    

    &:after {
      width: 10px;
      height: 2px;
      background: #2CDAB1;
      mix-blend-mode: normal;
      filter: blur(11.5px);
      border-radius: 14px;
      
    }
  }
  &.red {
    background-image: url("../../../assets/pokeballdeco.png"),
    linear-gradient(18.53deg, #FA6555 24.12%, #F7786B 108.9%);
    background-repeat: no-repeat;
    background-position: 119%;
    
    
    
  }
  &.lightblue {
    background-image: url("../../../assets/pokeballdeco.png"), 
    linear-gradient(0deg, #58abf7, #58abf7),
    linear-gradient(7.97deg, #64a9fa -0.55%, #6dc1fd 107.61%);
    border: #77c4fe;
    background-repeat: no-repeat;
    background-position: 119%;
  }

  &.yellow {
    background-image: url("../../../assets/pokeballdeco.png"),
    linear-gradient(18.53deg, #FFCE4B 24.12%, #F7C747 108.9%);
    background-repeat: no-repeat;
    background-position: 119%;
  }

  &.purple {
    background-image: url("../../../assets/pokeballdeco.png"),
    linear-gradient(18.53deg, #7C538C 24.12%, #9F5BBA 108.9%);
    background-repeat: no-repeat;
    background-position: 119%;
  }

  &.brown {
    background-image: url("../../../assets/pokeballdeco.png"),
    linear-gradient(18.53deg, #B1736C 24.12%, #CA8179 108.9%);
    background-repeat: no-repeat;
    background-position: 119%;
  }
}




