

div.green {position: absolute;
    width: 155px;
    height: 60px;
    left: 28px;
    top: 310px;
    
    background: linear-gradient(8.46deg, #46A487 -0.58%, #46D7AB 108.38%);
    border-radius: 15px;}

div.red {
    position: absolute;
    width: 155px;
    height: 63px;
    left: 193px;
    top: 310px;
    
    background: #FA6555;
    border-radius: 14px;}

div.lightblue {    
    position: absolute;
    width: 155px;
    height: 63px;
    left: 28px;
    top: 385px;

    background: linear-gradient(0deg, #58ABF7, #58ABF7), linear-gradient(7.97deg, #64A9FA -0.55%, #6DC1FD 107.61%);
    border-radius: 15px;
}

div.yellow {/* Items */

    position: absolute;
    width: 155px;
    height: 63px;
    left: 193px;
    top: 385px;
       
    background: #FFCE4B;
    border-radius: 15px;    
    }


div.purple {/* Rectangle 2 */

    position: absolute;
    width: 155px;
    height: 63px;
    left: 28px;
    top: 460px;
    
    background: #7C538C;
    border-radius: 15px;
    }

div.brown {

position: absolute;
width: 155px;
height: 63px;
left: 193px;
top: 460px;

background: #B1736C;
border-radius: 15px;
}


/* Police */

/* Pokedex 

div.green > a  {
position: absolute;
width: 70px;
height: 13px;
left: 44px;
top: 334px;

font-family: 'Circular Std';
font-size: 14px;
line-height: 14px;
/* or 100% 
display: flex;
align-items: center;

color: #FFFFFF; }*/


